html, body{
    margin: 0;
    padding: 0;
}
body{
    background-color: #BEDAE8;

}

h1{
    font-family: 'Teko', sans-serif;
}

.container{
    width: 1300px;
    margin: auto;
}
.header{
    display: flex;
    margin: auto;
    justify-content: space-between;

}
.menubar{
    /* background: yellowgreen; */
    font-family: teko;
    font-size: 30px;
    display: flex;
    flex: 9;
    justify-content: space-around;
    padding: 20px;
   
}
.menubar a{
    font-weight: 400px;
}

.mid{
    font-family: forte;
    font-size: 31px;
    font-weight: 200px;
    color:  #0074C1;
}
a{
    text-decoration:none ;
    color: black;
}
.right{
    /* background-color: yellow; */
    flex: 1;
    display: flex;
    padding: 20px ;
    justify-content: space-between;
    
    
}
.right a{
    font-size: 30px;
    font-family: teko; 
    color: #0074C1; 
}

.right img{
   width: 40px;
   height: 40px;
}
.logo img{
    display: flex;
    width: 300px ;
    margin: auto;

}
.main{
    display: flex;
    /* background-color: wheat; */
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    color: #0074C1;
    text-align: left;
    padding: 10px;

}

.main h1{
    font-size: 120px;
    margin: 0px;
}

.submain1{
    display: flex;
    height: 420px;

}
.layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 8;
    
    
}
.sublayout{
    background-color: white;
    height:200px ;
    display:flex;

}
.sublayout img{
    width: 300px;
    height: 200px;
}
.teks{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    font-family: 'Teko', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    width: 400px;

}
.teks :first-child{
    font-size: 30px;
}

.teks h2{
    font-size: 20px;
    margin-bottom: 10px;

}

.button{
    margin: auto;
    margin-right: 40px;
}

.boxpaket{
    background-color: white;
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 50px 50px 0px 50px;
    box-sizing: border-box;
    margin-left: 20px;

    
}
.boxpaket h1{
    font-size: 30px;
    color:  #0074C1;
    text-align: center;
}
.searchform{
    box-sizing : border-box;
    width: 100%;
	padding: 11px;
    font-size: 11pt;
    margin-bottom: 20px;
    border: 2px solid  #05578d;
    border-radius: 10px;
}
.tombol{
    font-family: 'Teko', sans-serif;
    letter-spacing: 1px;
	background:#0074C1;
	color: white;
	font-size: 15px;
	width: 100%;
	border: none;
	border-radius: 5px;
    padding: 15px 25px;
    margin-top: 10px;
}

.buttonback{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
    

}
.buttonback img{
    width: 44px;
    height: 44px;
    
}
.footer{
    height: 260px;
    display: flex;
    background-image: url(/img/footer.png);
    background-size: cover;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
}
.subfoot{
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}

.subfoot img{
    width: 200px;
    margin: auto;
}
.logofoot{
    display: flex;
    
}
.subfoot p{
    font-size: 30px;
    font-family: teko;
    margin: 5px 0px; 
    color: #0074C1;  
}
.lokasi{
    display: flex;
}
.lokasi img{
    width: 12px;
    height: 18px;
    margin: auto 10px;
}
.email{
    display: flex;

}
.email img{
    width: 14px;
    height: 12px;
    margin: auto 10px;
}
.sosmed{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    width: 60px;
}
.sosmed a img{
    margin: 10px;
    width: 18px;
    height: 22px;

}