html, body{
    margin: 0;
    padding: 0;
}
body{
    background-color: #BEDAE8;
    line-height: 1.65;
    
}

h1{
    font-family: 'Teko', sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif
}
.container{
    width: 1300px;
    margin: auto;
   
}
.header{
    display: flex;
    margin: auto;
    justify-content: space-between;

}
.menubar{
    /* background: yellowgreen; */
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    display: flex;
    flex: 9;
    justify-content: space-around;
    padding: 20px;
   
}
.menubar a{
    font-weight: 400px;
}

.mid{
    font-family: forte;
    font-size: 31px;
    font-weight: 200px;
    color:  #0074C1;
}
a{
    text-decoration:none ;
    color: black;
}
.right{
    /* background-color: yellow; */
    flex: 1;
    display: flex;
    padding: 20px ;
    justify-content: space-between;
    
    
}
.right a{
    font-size: 30px;
    font-family:'Teko', sans-serif; 
    color: #0074C1; 
}

.right img{
    width: 40px;
    height: 40px;
}
.main{
    display: flex;
    /* background-color: wheat; */
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;


}
.main h2 {
    font-family: 'Teko', sans-serif;
    font-size: 130px;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #0074C1; 
    line-height: 35px;
    
}

.submain1{
    display: flex;
    /* background-color: aliceblue; */
    justify-content: space-between;
    width: 1000px;
    

}
.submain1 img{
    width: 200px;
    height: 200px;
    margin-top: 160px;
    margin-right: 130px;

}
.teks1{
    width: 550px;
    
    
}

.teks1 h1 {
    font-size: 40px;
    font-family: 'Teko', sans-serif;
    margin: 0px;
    line-height: 1.2px;
    margin-left: 60px;
}
.teks1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: justify;
    margin-left: 120px;
    margin-top: 30px;
}

.main2{
    display: flex;
    margin: 20px ;
    justify-content: space-between;
    box-sizing: border-box;
}
.containermain2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subjudul{
    font-size: 40px;
    margin: 0pc;
    margin-top: 60px;
}
.preview img{
    width: 450px;
    height: 250px;
}

.submain{
    display: flex;
    justify-content: space-between;
}

.teks{
    width: 600px;
    margin-left: 20px;
}
.teks :nth-child(1){
    color:#0074C1;
    font-family: 'Teko', sans-serif;
    font-size: 20px;
}
.teks h1{
    margin: 0px;
    
}
.teks p{
    margin-top: 1px;
    margin-bottom: 1px;
}
.submain button img{
    width: 44px ;
    height: 44px;
}

.buttonleft{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.buttonback{
    display: flex;
    justify-content: center;
    
}
.buttonback img{
    width: 44px;
    height: 44px;
    
}
.buttonleft img{
    width: 44px;
    height: 44px;
    margin: 10px;
}

.footer{
    height: 260px;
    display: flex;
    background-image: url(/img/footer.png);
    background-size: cover;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
}
.subfoot{
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}

.subfoot img{
    width: 200px;
    margin: auto;
}
.logofoot{
    display: flex;
    
}
.subfoot p{
    font-size: 30px;
    font-family: 'Teko', sans-serif;
    margin: 5px 0px; 
    color: #0074C1;  
}
.lokasi{
    display: flex;
}
.lokasi img{
    width: 12px;
    height: 18px;
    margin: auto 10px;
}
.email{
    display: flex;

}
.email img{
    width: 14px;
    height: 12px;
    margin: auto 10px;
}
.sosmed{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    width: 60px;
}
.sosmed a img{
    margin: 10px;
    width: 18px;
    height: 22px;

}





















