html, body{
    margin: 0;
    padding: 0;
}
body{
    background-color: #BEDAE8;

}

h1{
    font-family: 'Teko', sans-serif;
}

.container{
    width: 1300px;
    margin: auto;
}
.header{
    display: flex;
    margin: auto;
    justify-content: space-between;

}
.menubar{
    /* background: yellowgreen; */
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    display: flex;
    flex: 9;
    justify-content: space-around;
    padding: 20px;
   
}
.menubar a{
    font-weight: 400px;
}

.mid{
    font-family: forte;
    font-size: 31px;
    font-weight: 200px;
    color:  #0074C1;
}
a{
    text-decoration:none ;
    color: black;
}
.right{
    /* background-color: yellow; */
    flex: 1;
    display: flex;
    padding: 20px ;
    justify-content: space-between;
    
    
}
.right a{
    font-size: 30px;
    font-family: 'Teko', sans-serif; 
    color: #0074C1; 
}

.right img{
   width: 40px;
   height: 40px;
}
.logo img{
    display: flex;
    width: 300px ;
    margin: auto;

}
.main{
    display: flex;
    /* background-color: wheat; */
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    color: #0074C1;
    text-align: left;
    padding: 10px;

}

.main p{
    font-family: 'Teko', sans-serif;
    font-size: 120px;
    margin: 0px;
}

.galeri{
    display: flex;
    justify-content: space-between;
    margin: 20px
}

.galeri img{
    width: 290px;
    height: 200px;
}

.desc {
    font-family: 'Teko', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: black;
    width: 290px;
    height: 200px;

    
    
}

.desc h2{
    margin: 0px;
    font-size: 40px;

    
}

.footer{
    height: 260px;
    display: flex;
    background-image: url(/img/footer.png);
    background-size: cover;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px;
}
.subfoot{
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}

.subfoot img{
    width: 200px;
    margin: auto;
}
.logofoot{
    display: flex;
    
}
.subfoot p{
    font-size: 30px;
    font-family: teko;
    margin: 5px 0px; 
    color: #0074C1;  
}
.lokasi{
    display: flex;
}
.lokasi img{
    width: 12px;
    height: 18px;
    margin: auto 10px;
}
.email{
    display: flex;

}
.email img{
    width: 14px;
    height: 12px;
    margin: auto 10px;
}
.sosmed{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    width: 60px;
}
.sosmed a img{
    margin: 10px;
    width: 18px;
    height: 22px;

}